### Impotando librerías

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns

### Lectura de datos

In [3]:
archivos_csv = ['customers.csv', 'geolocation.csv', 'order_items.csv', 'order_payments.csv', 'order_reviews.csv', 'orders.csv', 'prod_cat_translation.csv', 'products.csv', 'sellers.csv']

ecommerce = {}

for archivo in archivos_csv:
    nombre_df = archivo.split('.')[0]
    ecommerce[nombre_df] = pd.read_csv(archivo)

In [27]:
ProfileReport(ecommerce["order_reviews"]).to_file("reporte_order_reviews.html")

Summarize dataset: 100%|██████████| 17/17 [00:07<00:00,  2.20it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.91s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.43it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 62.50it/s]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

### Revisando si hay valores nulos en order_reviews

In [26]:
# False  = no hay valores nulos
# True = hay valores nulos
# is_nan_review_score = ecommerce["order_reviews"]["review_score"].isna().any()
# is_nan_review_comment_message = ecommerce["order_reviews"]["review_comment_message"].isna().any()
# is_nan_revirew_comment_title = ecommerce["order_reviews"]["review_comment_title"].isna().any()
# is_nan_review_score, is_nan_review_comment_message, is_nan_revirew_comment_title

In [4]:
ecommerce["order_reviews"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [17]:
order_review_filtrado = ecommerce["order_reviews"][ecommerce["order_reviews"]["review_score"] < 4]
order_review_filtrado

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37
14,9a0abbb668bafb95a6d2b05db43284c4,d7bd0e4afdf94846eb73642b4e3e75c3,3,NaN,NaN,2017-04-30 00:00:00,2017-05-03 00:02:22
16,9314d6f9799f5bfba510cc7bcd468c01,0dacf04c5ad59fd5a0cc1faa07c34e39,2,NaN,"GOSTARIA DE SABER O QUE HOUVE, SEMPRE RECEBI E...",2018-01-18 00:00:00,2018-01-20 21:25:45
18,fdbdb2629a7cde0f66657acc92084e7f,70a752414a13d09cc1f2b437b914b28e,3,NaN,NaN,2017-09-29 00:00:00,2017-10-02 01:12:49
19,373cbeecea8286a2b66c97b1b157ec46,583174fbe37d3d5f0d6661be3aad1786,1,Não chegou meu produto,Péssimo,2018-08-15 00:00:00,2018-08-15 04:10:37
...,...,...,...,...,...,...,...
99987,3ea12859f456855149b564d1a221f87a,f62f01ec64c6b221f926ba560907d8f7,3,NaN,NaN,2017-04-05 00:00:00,2017-04-05 09:42:58
99990,a709d176f59bc3af77f4149c96bae357,d5cb12269711bd1eaf7eed8fd32a7c95,3,NaN,"O produto não foi enviado com NF, não existe v...",2018-05-19 00:00:00,2018-05-20 21:51:06
99991,115d72425fc59eec9a2e9d7594c6d93d,acd45245723df7cb52772a34416b41b1,3,NaN,NaN,2018-05-08 00:00:00,2018-05-10 14:37:03
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [15]:
ecommerce["orders"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

| Índice | Descripción                                       |
|--------|---------------------------------------------------|
| 0      | ID de la review                                |
| 1      | ID de la orden                                    |
| 2      | Puntuación de la orden                            |
| 3      | Título del comentario de la review              |
| 4      | Comentario de la review                         |
| 5      | Fecha de creación de la review                  |
| 6      | Fecha de revisión de la review                  |
| 7      | ID del cliente                                    |
| 8      | Estado actual del pedido                          |
| 9      | Fecha de compra del pedido                        |
| 10     | Fecha en que el pedido fue aprobado               |
| 11     | Fecha en que el pedido fue entregado al transportista |
| 12     | Fecha de entrega del pedido al cliente            |
| 13     | Fecha estimada de entrega del pedido              |

In [33]:
orders_review_negative = pd.merge(order_review_filtrado, ecommerce["orders"], on='order_id', how='left')
#orders_review_negative.iloc[:, [0, 8]]
orders_review_negative.head(5)
orders_review_negative.iloc[:, 2:].head(3)

,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37,eecafc3ff695f031bfe354a9fff9d437,delivered,2018-04-06 22:18:54,2018-04-09 20:10:35,2018-04-11 16:48:35,2018-04-12 17:17:53,2018-05-03 00:00:00
1,3,NaN,NaN,2017-04-30 00:00:00,2017-05-03 00:02:22,12a063cae60cd7bc2f0029514b21d24c,delivered,2017-04-23 18:55:04,2017-04-23 19:05:37,2017-04-24 10:19:01,2017-04-29 10:19:55,2017-05-11 00:00:00
2,2,NaN,"GOSTARIA DE SABER O QUE HOUVE, SEMPRE RECEBI E...",2018-01-18 00:00:00,2018-01-20 21:25:45,db13a417a95ad304e9674468c17ade85,delivered,2017-12-19 13:14:37,2017-12-19 13:32:58,2017-12-20 20:28:58,2018-02-21 01:25:41,2018-01-17 00:00:00

In [29]:
valores_unicos_order_status = orders_review_negative['order_status'].unique()
valores_unicos_order_status

array(['delivered', 'canceled', 'shipped', 'processing', 'unavailable',
       'invoiced', 'created', 'approved'], dtype=object)